<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169690982351-5euu65oh8c0qkbucrvm7cr6ss6bedh7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169690982351-5euu65oh8c0qkbucrvm7cr6ss6bedh7h</string>
	<key>API_KEY</key>
	<string>AIzaSyDPQi3k3d--V2MhxbyyAS0YQkOYpxl01hk</string>
	<key>GCM_SENDER_ID</key>
	<string>169690982351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutter.platformDesign</string>
	<key>PROJECT_ID</key>
	<string>wrist-bands</string>
	<key>STORAGE_BUCKET</key>
	<string>wrist-bands.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:169690982351:ios:58c16f0a233fc53841d4ba</string>
</dict>
</plist>
